.menu {
    i {
        &.bi {
            font-size: 2rem;
        }
    }
}

.bg-navbar {
    background-color: #845ec2;
}

main {
    border: 1px solid #eeeded;

    .dashboard-numbers {
        font-size: 2rem;
    }

    .sub-title-text-small {
        font-size: 1.3rem;
    }

    .chart-body {
        height: 400px;
    }

    #sales-page {

        .sale-status-canceled {
            background-color: #ff7f91;
        }

        .sale-status-completed {
            background-color: #a7c285;
        }

        .sale-status-in_progress {
            background-color: #ffc87f;
        }
    }

}

@media (max-width: 768px) {
    .btn, .btn-group {
        width: 100%;
    }

    .page-title, .container-pagination, .chart-title {
        display: flex;
        flex-direction: column;
    }

    .filter-container > .search {
        width: 100%;
    }

}
